{% extends "species/article.html" %}

{# STYLES #}
{% set body_styles = "" %}
{% set container_styles = "px-0" %}
{% set grid = "grid grid-cols-12 gap-2 md:gap-4" %}
{% set heading_styles = "prose text-3xl sm:text-4xl leading-none font-thin mb-8" %}
{% set link_styles = "text-balance lowercase text-xl leading-none font-thin hover:text-primary" %}
{% set copy_styles = "prose text-pretty py-2" %}
{% set button_styles = "btn btn-circle btn-primary w-24 h-24 text-lg italic " %}

{% block accessibility %}
<a href="#introduction">introduction</a>
<a href="#feed">posts</a>
{% endblock %}
{% block hero %}
<section>
<h1 class="col-span-full">Lessons Learned</h1>
</section>
{% endblock %}
{% block content %}
<figure id="lessons_learned" class="sm:grid sm:grid-cols-2 gap-8">
  {% for insight in insights %}
  {% set href = ["/lessons-learned/",insight.Name | slugify, "/"] | join %}
  <a href="{{ href }}" class="card p-0 mb-8 sm:mb-12">
    {# IMAGE #}
    <div class="h-64">
      {% for img in images | find("id", insight.Thumbnail) %}{{ img.pictureElement | stylePicture("m-0", "m-0") | safe }}{% endfor %}
    </div>
    <div class="card-body px-4 flex-none">
      <p class="{{ copy_styles }} my-0 py-0">{{ insight.Created }}</p>
      <h3 class="card-title leading-none font-medium text-2xl my-0">{{ insight.Name }}</h3>
      <p class="{{ copy_styles }}">{{ insight.Teaser }}</p>
    </div>
  </a>
  {% endfor %}
</figure>
{% endblock %}