{% extends "species/landing.html" %}
{% set title = ["Lessons Learned", insight.Name] | join(": ") %}
{% set container_styles = "p-12 md:grid md:grid-cols-12 md:gap-8" %}
{% block accessibility %}
<a href="#body">body</a>
<a href="#related">related work</a>
{% endblock %} 
{% block hero %}
<h1 class="md:col-span-12">{{ insight.Name }}</h1>
{% endblock %}
{% block content %}
<article id="body" class="prose md:col-span-8">
  {{ insight.Body | markdownify | expand(images) | safe }}
</article>
<figure id="related" class="md:col-span-4">
  <figcaption>Related Work</figcaption>
  {% set data = projects | find("id", insight.Projects) %}
  {% set grid = "" %}
  {% include "templates/project/grid.html" %}
</figure>
{% endblock %}