{% extends "species/article.html" %}
{% set view = "insight_page" %}

{# STYLES #}
{% set title = ["Lessons Learned", insight.Name] | join(": ") %}

{% block accessibility %}
<a href="#intro">introduction</a>
<a href="#body">body</a>
<a href="#related">related work</a>
{% endblock %} 
{% block hero %}
<section id="intro" class="flex flex-col">
  <a href="/lessons-learned/">Lessons Learned /</a>
  <h1 class="md:col-span-12">{{ insight.Name }}</h1>
  <p class="my-2">{{ insight.Created }} | Russell S. Lebo</p>
</section>
{% endblock %}
{% block content %}
<section class="prose mx-auto">
  {{ insight.Body | markdownify | expand(images) | safe }}
</section>
{% endblock %}
{% block footer %}
<figure id="related" class="col-span-full sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  <figcaption>Related Work</figcaption>
  {% set set = projects | find("id", insight.Projects) %}
  {% for project in set %}
  {% if project.Published and (project.Weight == 0) %}
  {% include "templates/project/card-md.html" %}
  {% endif %}
  {% endfor %}
</figure>
{% endblock %}