<figure id="recognition" class="col-span-3">
    <figcaption class="sr-only">
        <h3>Awards & Recognition</h3>
    </figcaption>
    <ul class="columns-2 lg:columns-1">
        {% for img in images %}
        {% if img.Recognition %}
        <li class="flex flex-col content-start pt-2 pb-4 break-inside-avoid-column">
            {% for award in awards | find("id", img.Recognition) %}
            {% if loop.index === 1 %}
            <h4 class="font-bold text-xs sm:col-span-8">{{ award.Organization }}</h4>
            <ul class="sm:col-span-8">
                {% endif %}
                <li class="font-light text-xs">{{ award.Title }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</figure>