<!-- @format -->
{% extends "species/article.html" %}
{% set main_styles = "bg-graphpaper" %}
{% block primary %}
<div id="smooth-content">
	<section data-speed="clamp(0.5)" class="h-96 flex border-4 border-neutral-200 text-white">
		<h2 class="m-auto">Section 1</h2>
	</section>
	<section class="parallax h-96 flex border-4 border-primary-200 text-white">
		<h2 class="m-auto">Section 2</h2>
	</section>
	<section class="parallax h-96 flex border-4 border-secondary-200 text-white">
		<h2 class="m-auto">Section 3</h2>
	</section>
	<section class="parallax h-96 flex border-4 border-accent-200 text-white">
		<h2 class="m-auto">Section 4</h2>
	</section>
</div>
<script src="/assets/js/gsap/gsap.js"></script>
<script src="/assets/js/gsap/ScrollTrigger.js"></script>
<script src="/assets/js/gsap/ScrollSmoother.min.js"></script>
<script>
	try {
		trace("setting up parallax...");
		gsap.registerPlugin(ScrollTrigger, ScrollSmoother);
		trace("ScrollSmoother");

		// see https://gsap.com/docs/v3/Plugins/ScrollSmoother/
		// see https://codepen.io/GreenSock/pen/bGaWjpw
		// create the smooth scroller FIRST!
		const smoother = ScrollSmoother.create({
			wrapper: "main",
			smooth: 1,
			normalizeScroll: true, // prevents address bar from showing/hiding on most devices, solves various other browser inconsistencies
			ignoreMobileResize: true, // skips ScrollTrigger.refresh() on mobile resizes from address bar showing/hiding
			effects: true,
			preventDefault: true
		});

		trace("parallax setup complete");
	} catch (e) {
		trace("couldn't set up parallax");
		trace(e);
	}
</script>
{% endblock %}