{% extends "species/base.html" %}
{% set main_styles = "" %}
{% block primary %}
<style>
    #testy {
        position: relative;
        width: 400px;
        height: 300px;
        border: 1px solid #ccc;
        overflow: hidden;
    }

    canvas {
        display: block;
    }

    div {
        font-family: Arial, sans-serif;
    }
</style>
<picture id="testy" class="w-72 mx-auto">
    <img src="/assets/images/halftone.png" alt="A description of the image">
</picture>

<aside id="controls" class="w-144 mx-auto"></aside>

<script type="module">
    // Import the Halftone class from your JavaScript modules
    import Halftone from '/assets/js/effects/image/halftone/Halftone.js';

    // Initialize the Halftone effect
    document.addEventListener('DOMContentLoaded', () => {
        const container = document.querySelector('#testy');
        new Halftone(container, {
            dotSize: 24,
            gridSize: 26,
            color: true,
        });
    });
</script>
{% endblock %}
