<!-- @format -->

{% extends "species/base.html" %} {% set main_styles = "" %} {% block primary %}
{#
<picture id="halftone" class="w-72 mx-auto">
  <img src="/assets/images/halftone.png" alt="A description of the image" />
</picture>
#}

<div id="blockframes" class="w-full h-dvh"></div>

<script type="module">

  {# import Halftone from "/assets/js/effects/image/halftone/Halftone.js";

  // Initialize the Halftone effect
  document.addEventListener("DOMContentLoaded", () => {
    const container = document.querySelector("#halftone");
    new Halftone(container, {
      dotSize: 24,
      gridSize: 26,
      color: true
    });
  }); #}

    import Blockframes from "/assets/js/displays/blockframes/Blockframes.js";
    import ThemeColors from "/assets/js/utils/tailwind/ThemeColors.js";
    document.addEventListener('DOMContentLoaded', async () => {
        const theme = new ThemeColors();
        const bfms = new Blockframes('/assets/svg/blockframes/Blocks.svg');
        await bfms.load();

        bfms.makeResponsive();
        bfms.paintAll(theme.colors)
        bfms.paintBlock(".Article", theme.colors);
        // bfms.paintBlock(".Basic", theme.colors);
        // bfms.paintBlock(".Blog", theme.colors);
        // bfms.paintBlock(".Calendar", theme.colors);
        // bfms.paintBlock(".Cart", theme.colors);
        // bfms.paintBlock(".Contact", theme.colors);
        // bfms.paintBlock(".Features", theme.colors);
        bfms.insertInto('#blockframes');
    });
</script>
<div class="fill-accent text-accent">Hmmm...</div>
<div class="fill-primary text-primary-dark">Hmmm...</div>
<div class="fill-secondary text-secondary">Hmmm...</div>
{% endblock %}
