<!-- Open the modal using ID.showModal() method -->
<button class="btn w-full h-full" onclick="gallery.showModal()">{% include "templates/gallery/grid.html" %}</button>
<dialog id="gallery" class="modal">
  <div class="modal-box w-9/12 max-w-none bg-black shadow-none">
    <div class="md:carousel md:carousel-center md:max-w-none p-4 space-x-4 md:rounded-box text-white ">
      {% for image in images | find('id', gallery.Images) %}
      {% if image.Published %}
      <figure class="mb-4 md:mb-0 md:carousel-item md:grid md:grid-cols-3 md:w-fit">
        <figcaption class="p-4">
          <h3>{{ image.Title }}</h3>
          <p>{{ image.Caption }}</p>
        </figcaption>
        {{ image.pictureElement | stylePicture("md:col-span-2", "object-center object-cover")  | safe }}
      </figure>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
