<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  {% include "partials/head.html" %}
  <body class="{{ view }}">
    <!-- GTM -->
    {% include "partials/gtm_body.html" %}
    <!-- A11Y -->
    <section id="skip" tabindex=" -2" class="sr-only">
    {% block accessibility %}{% endblock %}
    </section>
    <!-- NAVIGATION -->
    {% include "organisms/headers/global.html" %}
    <!-- CONTENT -->
    <main tabindex=" -1">
      <article>
        {% block hero %}{% endblock %}
        {% block content %}{% endblock %}
      </article>
    </main>
    <!-- FOOTER -->
    {% block footer %}{% endblock %}
    {% include "organisms/footers/global.html" %}
  </body>

</html>