{# Add to class declaration for any element(s) to test responsiveness #}
{% set responsive = "bg-slate-100 xs:bg-slate-200 sm:bg-slate-300 md:bg-slate-400 lg:bg-slate-500 xl:bg-slate-600
  xxl:bg-slate-700" %}
{% set container_styles = "py-12" %}
<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  {% include "partials/head.html" %}

  <body class="{{ body_styles }}">
    <!-- GTM -->
    {% include "partials/gtm_body.html" %}
    <!-- A11Y -->
    <section id="skip" tabindex=" -2" class="sr-only">
    {% block accessibility %}{% endblock %}
    </section>
  </section>
    <!-- NAVIGATION -->
    {% include "organisms/headers/global.html" %}
    <!-- CONTENT -->
    <main tabindex=" -1" class="{{ container_styles }}">
      <article>
        {% block hero %}{% endblock %}
        {% block content %}{% endblock %}
      </article>
    </main>
    <!-- FOOTER -->
    {% block footer %}{% endblock %}
    {% include "organisms/footers/global.html" %}
  </body>

</html>