<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<!-- HEAD -->
	{% include "partials/head.html" %}

	<body class="{{ body_styles }}">
		<!-- GTM -->
		{% include "partials/gtm_body.html" %}
		<!-- SCRIPT -->
		{% block script %} {% endblock %}
		<!-- A11Y -->
		<section id="skip" tabindex=" -2" class="sr-only">
			{% block accessibility %}NO SKIP LINKS DEFINED{% endblock %}
		</section>
		<!-- GLOBAL HEADER -->
		{% include "organisms/headers/global.html" %}
		<!-- CONTENT -->
		<main tabindex=" -1" class="faded {{ main_styles }}">
			{% block cap %} {%endblock%}
			<header id="title" class="title pt-[65px] z-50 relative {{ title_styles }}">
				{% block header %}
				<h1>{{ title }}</h1>
				<p class="text-pretty text-center">{{ introduction | safe }}</p>
				{% endblock %}
			</header>
			{% block primary %}PRIMARY CONTENT {% endblock %}
		</main>
		<!-- FOOTER -->
		{% block footer %}FOOTER{% endblock %} {% include
		"organisms/footers/global.html" %}
	</body>

</html>