<ul>
	{% for post in feed %}
	  <li>
      <time class="text-sm italic">{{ post.Posted | postDate }}</time>
			{% if post.Type == "Project" %}
			{% projects | find("id", post.id) %}
			<a class="link link-hover text-sm font-thin leading-none block mt-2"
			href="/projects/">Case Study</a>
			{% include "templates/project/link.html" %}
			{% endfor %}
			{% else %}
			{% set insight = post %}
			<a class="link link-hover text-sm font-thin leading-none block mt-2"
			href="/lessons-learned/">Lesson Learned</a>
			{% include "templates/insight/link.html" %}
			{% endif %}
  </li>
	{% endfor %}
</ul>