{% extends "species/article.html" %}
{% set title = ["Russ Lebo: ", award.Organization, award.Title] | join(": ") %}
{% block accessibility %}
<a href="#description">description</a>
<a href="#related">related work</a>
{% endblock %} 
{% block hero %}
<section class="p-12 grid grid-cols-12 gap-6">
    {% for logo in images | find("id", award.logo_id) %}
    {{ logo.pictureElement | stylePicture("logo col-span-3 bg-black p-6") | safe }}
    {% endfor %}
    <h1 class="text-black font-black text-center md:text-left col-span-9">{{ award.Organization }}: {{ award.Title }}</h1>
</section>
{% endblock %}
{% block content %}
<section class="p-12 md:grid md:grid-cols-12">
  <section id="description" class="prose md:col-span-8">
    {{ award.Description | markdownify | safe }}
  </section>
  <figure id="related"  class="md:col-span-4">
    {% set data = projects | find("id", award.Projects) %}
    {% set grid = "mb-4" %}
    {% include "templates/project/grid.html" %}
  </figure>
</section>
{% endblock %}