{% extends "species/base.html" %}

{# STYLES #}
{% set body_styles = "bg-black text-white" %}
{% set container_styles = "px-0" %}
{% set section_styles = "prose max-w-none col-span-12 text-white h-dvh flex snap-y" %}
{% set heading_styles = "prose text-4xl leading-none font-black mb-8 text-white" %}
{% set link_styles = "link link-hover lowercase block text-xl leading-none font-thin text-white hover:text-orange-600" %}
{% set copy_styles = "font-thin text-white" %}

{# ACCESSIBILITY #}
{% block accessibility %}
<a href="#audiences">audiences</a>
<a href="#work">projects</a>
<a href="#impact">impact</a>
<a href="#lessons_learned">lessons learned</a>
{% endblock %}

{# CONTENT #}
{% block content %}

<!-- TITLE -->
<section id="title" class="{{ section_styles }}">
	<h1 class="text-6xl text-white my-auto">Russell S. Lebo</h1>
</section>

<!-- INTRO -->
<section id="audiences" class="{{ section_styles }}">
	<div class="my-auto">
		<h2 class="{{ heading_styles }}">I am an experience designer.</h2>
		<p class="prose {{ copy_styles }}">I work with researchers, engineers, visual designers, interaction designers, and accessibility experts to deliver digital products and services that put people first</p>
	</div>
</section>

<!-- LESSONS LEARNED -->
<section id="lessons_learned" class="{{ section_styles }}">
	<div class="my-auto">
		<h2 class="{{ heading_styles }}">I think a lot about design culture and how to develop it within teams and organizations</h2>
		{% for insight in insights %}
		{% include "templates/insight/link.html" %}
		{% endfor %}
	</div>
</section>

<!-- ORGANIZATIONS -->
<section id="organizations" class="{{ section_styles }}">
	<div class="my-auto">
		<h2 class="{{ heading_styles }} text-white"><a class="link link-hover font-black text-white hover:text-orange-600"
				href="/organizations/">I collaborate with amazing organizations and people</a></h2>
		<div class="columns-3">
			{% for organization in organizations %}
			{% include "templates/organization/link.html" %}
			{% endfor %}
		</div>
	</div>
</section>

<!-- IMPACT -->
<section id="impact" class="{{ section_styles }}">
	<div class="my-auto grid grid-cols-12">
		<h2 class="{{ heading_styles }} text-white col-span-full">Together, we produce <a class="link link-hover font-black text-white hover:text-orange-600"
				href="/recognition/">award-winning work</a> that improves lives</h2>
		<figure class="grid grid-cols-3 col-span-4 border-r-2">
			<figcaption class="col-span-full">Recognition</figcaption>
			{% for image in images | sort(attribute="Weight") %}
			{% if image.Recognition %}
			{{ image.pictureElement | stylePicture("logo bg-black py-4 w-36 h-36 gap-4") | safe }}
			{% endif %}
			{% endfor %}
			<a href="/recognition/" class="link link-hover">More</a>
		</figure>
	</div>
</section>

<!-- WORK -->
<section id="work" class="{{ section_styles }}">
	<div class="my-auto">
		<h2 class="{{ heading_styles }}">It is work with a real impact, from
			<a class="link link-hover font-black text-white hover:text-orange-600" href="/projects/types/government/">managing design for
				$65.5M in
				federal
				contracts</a>,
			<a class="link link-hover font-black text-white hover:text-orange-600"
				href="/projects/digital-transformation-for-public-health">helping
				reduce foodborne illness by seven
				million cases annually,</a> and
			<a class="link link-hover font-black text-white qhover:text-orange-600" href="/projects/">contributing to our understanding of the genetic causes of disease.</a>
		</h2>
		<figure class="grid grid-cols-3 gap-12 px-8">
			{% for project in projects %}
			{% if loop.index <= 3 %}
			{% if project.Weight == 0 %}
			{% set href = ["/projects/",project.Name | slugify, "/"] | join %}
			<a href="{{ href }}" class="card no-underline">
				{# IMAGE #}
				<div class="h-72 m-0">
					{% for img in images | find("id", project.Thumbnail) %}
					{{ img.pictureElement | safe }}
					{% endfor %}
				</div>
				<div class="card-body p-0 my-4">
					<h3 class="card-title leading-none text-white text-3xl p-0 m-0">{{ project.Title }}</h2>
				</div>
			</a>
			{% endif %}
			{% endif %}
			{% endfor %}		
		</figure>
		<a href="/projects/" class="btn">All Work</a>
	</div>
</section>
{% endblock %}