{% extends "species/base.html" %}

{# STYLES #}
{% set body_styles = "bg-black" %}
{% set container_styles = "px-0 grid grid-cols-12" %}
{% set section_styles = "prose max-w-none flex snap-y col-span-full grid grid-cols-subgrid p-12" %}
{% set heading_styles = "prose text-4xl leading-none font-black mb-8 text-neutral-50 col-span-full text-balance" %}
{% set link_styles = "link link-hover text-balance lowercase block text-xl leading-none font-thin text-neutral-50 hover:text-orange-600" %}
{% set copy_styles = "font-thin text-neutral-50" %}
{% set button_styles = "btn btn-outline border-white rounded-full text-white" %}

{# ACCESSIBILITY #}
{% block accessibility %}
<a href="#audiences">audiences</a>
<a href="#work">projects</a>
<a href="#impact">impact</a>
<a href="#lessons_learned">lessons learned</a>
{% endblock %}

{# CONTENT #}
{% block content %}
<!-- TITLE -->
<section id="title" class="{{ section_styles }} h-dvh anim">
	<h1 class="text-5xl text-white my-auto col-span-full">Russell S. Lebo</h1>
</section>
<!-- INTRO -->
<section id="intro" class="{{ section_styles }}">
	<div class="my-auto col-span-full">
		<h2 class="{{ heading_styles }}">I am an experience designer</h2>
		<p class="{{ copy_styles }} prose">I specialize in crafting user experiences that are intuitive, engaging, and impactful. My role involves understanding the needs and behaviors of users to create seamless and enjoyable interactions across digital and physical platforms. By employing design thinking and user-centered design principles, I focus on enhancing usability, accessibility, and overall satisfaction. My process includes research, prototyping, testing, and iterating on designs to ensure they meet both user needs and business goals. </p>
	</div>
</section>
<!-- ORGANIZATIONS -->
<section id="organizations" class="{{ section_styles }}">
	<div class="my-auto col-span-full grid grid-cols-subgrid">
		<h2 class="{{ heading_styles }}"><a class="link link-hover font-black text-white hover:text-orange-600"
				href="/organizations/">I collaborate with amazing organizations and people</a> delivering <a class="link link-hover font-black text-white hover:text-orange-600"
				href="/projects/">digital services and products</a></h2>
		<div class="col-span-full columns-2">
			{% for organization in organizations %}
			{% include "templates/organization/link.html" %}
			{% endfor %}
		</div>
	</div>
</section>
<!-- WORK -->
<section id="work" class="{{ section_styles }}">
	<div class="my-auto col-span-full grid grid-cols-subgrid">
		<h2 class="{{ heading_styles }}">Together, we produce <a class="link link-hover font-black text-white hover:text-orange-600"
				href="/recognition/">award-winning work</a> that solves real human needs</h2>
		<figure class="col-span-full">
			{% for project in projects %}
			{% if (loop.index <= 6) and (project.Weight == 0) %}
			{% set href = ["/projects/",project.Name | slugify, "/"] | join %}
			<a href="{{ href }}" class="card no-underline col-span-4">
				{# IMAGE #}
				<div class="h-64">
					{% for img in images | find("id", project.Thumbnail) %}{{ img.pictureElement | safe }}{% endfor %}
				</div>
				<div class="card-body p-0">
					<h3 class="card-title leading-none text-white font-thin text-2xl">{{ project.Title }}</h3>
					<p class="prose text-balance {{ copy_styles }}">{{ project.Teaser }}</p>
				</div>
			</a>
			{% endif %}
			{% endfor %}
		</figure>
	</div>
</section>
<!-- IMPACT -->
<section id="impact" class="{{ section_styles}}">
	<div class="my-auto col-span-full">
		<figure id="recognition" class="flex flex-wrap">
			<figcaption class="col-span-full text-white text-2xl font-thin divider divider-neutral w-full">Recognition</figcaption>
			{% for image in images | sort(attribute="Weight") %}
			{% if image.Recognition %}
			{{ image.pictureElement | stylePicture("logo p-4 w-24 h-24 mx-auto my-0") | safe }}
			{% endif %}
			{% endfor %}
			<a href="/recognition/" class="{{ button_styles }} col-span-full w-full mt-12">More</a>
		</figure>
		<figure id="metrics" class="col-span-full">
			<figcaption class="col-span-full text-white text-2xl font-thin divider divider-neutral">Results</figcaption>
			<div class="columns-2">
			{% for outcome in outcomes %}
			{% if (outcome.Type == "Success Metric") and (outcome.Weight == 1) %}
			{% set href = "" %}
			{% for project in projects | find("id", outcome.Projects) %}
				{% set href = ["/projects/",project.Name | slugify, "/"] | join %}
			{% endfor %}
			<a class="stat no-underline link link-hover h-min" href="{{ href }}">
				<div class="stat-title text-white">{{ outcome.Title }}</div>
				<div class="stat-value text-white">{{ outcome.Value }}</div>
				<div class="stat-desc text-white text-balance">{{ outcome.Description }}</div>
			</a>
			{% endif %}
			{% endfor %}
		</div>
		</figure>
	</div>
</section>
<!-- LESSONS LEARNED -->
<section id="lessons_learned" class="{{ section_styles }}">
	<div class="my-auto col-span-full grid grid-cols-subgrid">
		<h2 class="{{ heading_styles }}">I also think a lot about design culture and how to develop it within teams and organizations. I even <a href="/lessons-learned/" class="{{ link_styles }}">write about it a bit.</a></h2>
		<figure class="col-span-full">
			{% for insight in insights %}
			{% if insight.Featured %}
			{% set href = ["/lessons-learned/",insight.Name | slugify, "/"] | join %}
			<a href="{{ href }}" class="card no-underline col-span-3">
				{# IMAGE #}
				<div class="h-64">
					{% for img in images | find("id", insight.Thumbnail) %}{{ img.pictureElement | safe }}{% endfor %}
				</div>
				<div class="card-body p-0">
					<h3 class="card-title leading-none text-white font-thin text-2xl">{{ insight.Name }}</h3>
				</div>
			</a>
			{% endif %}
			{% endfor %}
			<a href="/lessons-learned/" class="{{ button_styles }} col-span-full w-full mt-12">More</a>	
		</figure>
	</div>
</section>
{% endblock %}