{% extends "_views/cells/heroes/hero.html" %}
{% block secondary %}
<strong>Hi there.</strong> I am a designer who codes. I strive to create simple, original, and impactful user
experiences. I take on A/B/C projects of all sizes, from web design and build to product and system design to
establishing and growing design
cultures in organizations. I’ve been creative director for $600M in federal contracts. And I’m now a freelance web
designer and developer based on the east coast. Please do say hello - I’m looking forward to hearing about your
company
and project.
{% endblock %}