<!-- @format -->

<section
  data-speed="1.5"
  id="intro"
  class="mx-12 p-12 col-span-full z-10 grid grid-cols-3 gap-8 content-start bg-neutral-light text-neutral"
>
  <header class="col-span-full grid grid-cols-subgrid gap-4">
    <h2 class="uppercase text-[.75rem] m-0 col-span-full">
      {{ count }}/4 What I've Done
    </h2>
  </header>

  <aside id="twenty-years">
    <figure class="stat align-top p-0 mb-6">
      <span class="stat-value text-12xl leading-none font-display p-0">20</span>
      <span
        class="stat-desc text-4xl font-display text-wrap text-neutral leading-tight"
      >
        years of award-winning work
      </span>
    </figure>
    {% include "templates/home/stats.html" %}
  </aside>
  <div class="col-span-2 space-y-12">
    <p id="statement" class="prose">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper
      sollicitudin feugiat. Curabitur congue metus ut bibendum commodo. Proin
      rhoncus suscipit mollis. Cras euismod eu odio a molestie. Sed bibendum
      eros fermentum, volutpat mauris eu, sollicitudin dui. Integer sit amet
      rhoncus tortor. Donec luctus id metus vel suscipit. Curabitur et massa in
      mauris ullamcorper congue in nec sem. Morbi facilisis scelerisque ex, non
      sollicitudin urna dictum imperdiet.
    </p>
    <div id="awards">{% include "templates/home/awards.html" %}</div>
    <div id="organizations">
      {% include "templates/home/organizations.html" %}
    </div>
  </div>
</section>
