{% extends "species/base.html" %}

{# STYLES #}
{% set body_styles = "bg-black" %}
{% set container_styles = "px-0" %}
{% set section_styles = "p-4 sm:p-12" %}
{% set grid = "grid grid-cols-12 gap-2 md:gap-4" %}
{% set heading_styles = "prose text-3xl sm:text-4xl leading-none font-thin mb-8 text-neutral-50 col-span-full" %}
{% set link_styles = "text-balance lowercase text-xl leading-none font-thin text-neutral-50 hover:text-primary" %}
{% set copy_styles = "font-thin text-neutral-50 text-lg sm:text-xl leading-tight text-wrap text-pretty" %}
{% set button_styles = "btn btn-circle btn-primary w-20 h-20 sm:w-24 sm:h-24 text-lg italic " %}

{# ACCESSIBILITY #}
{% block accessibility %}
<a href="#intro">introduction</a>
<a href="#work">projects</a>
<a href="#impact">impact</a>
<a href="#lessons_learned">lessons learned</a>
{% endblock %}

{# CONTENT #}
{% block content %}
<!-- INTRO -->
<section id="title" class="{{ section_styles }} h-dvh content-end">
	<h1 class="text-5xl sm:text-6xl leading-none font-black text-neutral-50">Russell S. Lebo</h1>
	<div class="lg:grid lg:grid-cols-12">
		<p class="{{ heading_styles }} text-pretty lg:col-span-10">
		I am an experience designer. I work with user researchers, UI designers, engineers, and accessibility experts to create award-winning digital products and services that answer real human needs.</p>
		<div class="hacky lg:col-span-2 lg:my-auto">
			<a id="more_work" class="{{ button_styles }}">Work</a>
		</div>
	</div>
</section>

<!-- WORK -->
<section id="work" class="{{ section_styles }} {{ grid }} my-12">
	{% for project in projects %}
	{% if (loop.index <= 6) and (project.Weight == 0) %}
	{% include "templates/project/card.html" %}
	{% endif %}
	{% endfor %}
	<a href="/projects/" class="{{ button_styles }} col-span-full p-2 mx-auto">All</a>	
</section>

<!-- RECOGNITION -->
<figure id="recognition" class="{{ section_styles }} my-12">
	<figcaption class="divider divider-primary w-full mx-auto {{ heading_styles }}">Recognition</figcaption>
	<a href="/recognition/" class="flex flex-wrap hover:bg-neutral-800 ">
	{% for image in images | sort(attribute="Weight") %}
	{% if image.Recognition %}
	{{ image.pictureElement | stylePicture("logo p-4 w-24 h-24 md:w-28 md:h-28 mx-auto my-0") | safe }}
	{% endif %}
	{% endfor %}
	</a>
</figure>

<!-- IMPACT -->
<figure id="metrics" class="{{ section_styles }} my-12">
	<figcaption class="divider divider-primary w-full mx-auto {{ heading_styles }}">Impact</figcaption>
	<div class="columns-2 sm:px-2 md:columns-3 xl:columns-4 gap-4 md:gap-8">
		{% for stat in outcomes %}
		{# Display selected Success Metrics #}
		{% if (stat.Type == "Success Metric") and (stat.Weight == 1) %}
		{% set href = "" %}
		{% for project in projects | find("id", stat.Projects) %}
			{% set href = ["/projects/",project.Name | slugify, "/"] | join %}
			{% include "molecules/stat.html" %}
		{% endfor %}
		{% endif %}
		{% endfor %}
	</div>
</figure>

<!-- LESSONS LEARNED -->
<figure id="lessons_learned" class="{{ section_styles }} {{ grid }} my-12">
	<figcaption class="{{ heading_styles }} divider divider-primary">Lessons Learned</figcaption>
	{% for insight in insights %}
	{% if insight.Featured %}
	{% set href = ["/lessons-learned/",insight.Name | slugify, "/"] | join %}
	<a href="{{ href }}" class="card no-underline col-span-full md:col-span-6 hover:bg-neutral-800 p-0 my-4 sm:my-8">
		{# IMAGE #}
		<div class="h-64">
			{% for img in images | find("id", insight.Thumbnail) %}{{ img.pictureElement | stylePicture("m-0", "m-0") | safe }}{% endfor %}
		</div>
		<div class="card-body my-4 px-4 flex-none">
			<p class="{{ copy_styles }} my-0">{{ insight.Created }}</p>
			<h3 class="card-title leading-none text-white font-medium text-2xl my-0">{{ insight.Name }}</h3>
			<p class="{{ copy_styles }}">{{ insight.Teaser }}</p>
		</div>
	</a>
	{% endif %}
	{% endfor %}
	<a href="/lessons-learned/" class="{{ button_styles }} col-span-full mx-auto">All</a>
</figure>
{% endblock %}