{% set copy_styles = "prose text-2xl leading-none font-thin mb-8 text-neutral-900 md:col-start-1" %}
{% set bg_styles = "bg-contain bg-fixed bg-[#f4f4f6] bg-blend-darken bg-bottom bg-no-repeat bg-[url('https://dataink.io/assets/content/images/static/hair.png')]" %}
<!DOCTYPE html>
<html lang="en" class="{{ bg_styles }} h-[calc(100dvh)] overflow-hidden">
  <!-- HEAD -->
  {% include "partials/head.html" %}
  <body>
    <!-- GTM -->
    {% include "partials/gtm_body.html" %}
    <!-- A11Y -->
    <section id="skip" tabindex=" -2" class="sr-only">
			<a href="#bio">introduction</a>
			<a href="#work">projects</a>
			<a href="#impact">impact</a>
			<a href="#lessons_learned">lessons learned</a>
    </section>
		<!-- NAV -->
    <!-- CONTENT -->
    <main tabindex=" -1" class="p-8 md:grid md:grid-cols-2 z-10">
				<h1 class="text-5xl sm:text-6xl leading-none tracking-tighter text-center font-black text-neutral-900 col-span-full">Russell S. Lebo</h1>
				<p class="text-3xl sm:text-4xl leading-none text-center font-thin mb-8 text-neutral-900 col-span-full my-auto">
				I am a human-experience designer.</p>
				<p class="anim {{ copy_styles }}">I team up with user researchers, UI designers, engineers, and accessibility experts to deliver <a href="/projects/" class="link-primary">award-winning digital products and services</a> that answer real human needs.</p>
				<p class="anim {{ copy_styles }}">My work appears in the questions researchers ask, the strategies that lead designers to solutions, and the human perspective that helps engineers realize what is possible.</p>
				<p class="anim {{ copy_styles }}">
					As a design manager for $65.5M in federal contracts, I <a href="/projects/sba-gov/" class="link-primary">connected American entrepeneurs with billions of dollars</a> in funding during COVID, <a href="/projects/digital-transformation-for-public-health/"  class="link-primary">increased food safety</a>, and <a href="/projects/forms-gov/"  class="link-primary">increased equitable acccess to federal benefits and services</a> for millions of Americans.</p>
				<p class="anim {{ copy_styles }}">
					As a product design lead, I designed and prototyped IBM's first application of AI to healthcare and gave biologists tools to understands the genetic causes of disease.</p>
				<p class="anim {{ copy_styles }}">
					As a developer and interaction designer, I created award-winning cinematic experiences for artists, museums, world-famous DJs, and world-wide brands.</p>
    </main>
  </body>
</html>