<!-- @format -->
{% extends "species/parallax.html" %} {% set body_styles = "h-dvh w-screen
overflow-clipped" %} {% set main_styles = "grid grid-cols-12 opacity-0 px-0" %}
{% block cap %} {% endblock %} {% block header %}
<header id="main-header" class="col-span-full w-full h-dvh flex z-10 items-end">
  {% include "templates/home/title.html" %}
</header>
{% endblock %} {% block primary %} {% set count = 0 %} {% include
"templates/home/intro.html" %} {% include "templates/home/projects.html" %} {%
endblock %} {% block shoe %}{% endblock %}
