<p>
    In my twenty-odd years of working as a user experience designer I 
    have worked with a range of industries. Success is defined 
    differently by each, and companies and organizations find their 
    own paths to get there.
</p>
<p>
    All succesful projects pay attention to the same seven practices:
</p>
<ol>
    <li>
        Shared understanding of goals and audiences
    </li>
    <li>
        A shared north star
    </li>
    <li>
        Measurement
    </li>
    <li>
        Cadence
    </li>
    <li>
        Tangibility
    </li>
    <li>
        Analysis
    </li>
    <li>
        Reflection
    </li>
</ol>
<ol>
    <li>
        <h3>
            Maintain a shared understanindg of business goals and target audiences.
        </h3>
        <p>
            The team's understanding of business goals and target audiences.
        </p>
    </li>
    <li>
        <h3>
            Maintain alignment towards a shared north star.
        </h3>
        <p>
            Alignment is about keeping the team focused on the same north star.
        </p>
    </li>
    <li>
        <h3>
            Identify what you are measuring and the questions you want to answer.
        </h3>
        <p>
            What are you looking at and what do you want to know about it?
        </p>
    </li>
    <li>
        <h3>
            Find a cadence that integrates the plays.
        </h3>
        <p>
            Cadence is more than the rhythm of work. It's also workflow.
        </p>
    </li>
    <li>
        <h3>
            Prioritize tangibility.
        </h3>
        <p>
            Take the actionable insights produced by analysis and turn them into something tangible.
        </p>
    </li>
    <li>
        <h3>
            Evaluate research and testing outcomes.
        </h3>
        <p>
            Analysis is about looking at what you've measured and identifying the actionable insights within.
        </p>
    </li>
    <li>
        <h3>
            Reflect on where you've been.
        </h3>
        <p>
            Continuously refine both the product and the team culture.
        </p>
    </li>
</ol>