<!-- @format -->

<figure
  id="projects"
  class="col-span-full bg-graphpaper-dark grid grid-cols-3 gap-4 mx-12 z-10"
>
  <figcaption class="sr-only">Project List</figcaption>
  <!-- Project category controls-->
  <div
    id="types"
    role="tablist"
    class="tabs tabs-bordered tabs-lg mx-auto gap-2 col-span-full"
  >
    <a
      role="tab"
      id="featured"
      class="tab tab-active border-accent text-neutral-light"
      >Featured</a
    >
    {% for category in ia %}
    <a
      role="tab"
      id="{{ category.Slug | slugify }}"
      class="tab text-neutral-light"
      >{{ category.Title }}</a
    >
    {% endfor %}
    <a role="tab" id="all" class="tab text-neutral-light">All</a>
  </div>
  {% for project in projects | sortByAttribute('Weight') %} {% set href =
  ["/case-studies/",project.Name | slugify, "/"] | join %} {% set action =
  ["modal_", project.id, ".showModal()"] | join %} {% include
  "templates/project/card-image.html" %} {% include
  "templates/project/modal.html" %} {% endfor %}
</figure>
