{% extends "species/base.html" %}
{% block accessibility %}
<a href="#lessons" class="sr-only">lessons learned</a>
<a href="#work" class="sr-only">work</a>
<a href="#roles" class="sr-only">roles</a>
<a href="#recognition" class="sr-only">recognition</a>
<a href="#organizations" class="sr-only">organizations</a>
<a href="#galleries" class="sr-only">galleries</a>
{% endblock %} 
a href="#work" class="sr-only">work</a>
{% block hero%}
<section class="grid grid-cols-3 bg-black pb-12 gap-12 p-12">
  <div class="col-span-full md:col-span-2">
    <h1 class="text-white font-black leading-none mb-8 text-6xl xl:text-8xl ">The page you're looking isn't available, but I am.h1>
		<p class="text-white text-lg lg:text-2xl">If you are in the market for creative talent and direction with a human-centered focus, <a class="link link-hover" id="#social">give a shout.</a></p>
  </div>
</section>
{% endblock %}
{% block main %}
<figure id="lessons">
	<figcaption>Lessons Learned</figcaption>
	{% include "templates/insight/list.html" %}
</figure>
<figure id="work">
	<figcaption>Work</figcaption>
	{% include "templates/project/list.html" %}
</figure>
<figure id="roles">
	<figcaption>Roles</figcaption>
	{% include "templates/role/list.html" %}
</figure>
<figure id="recognition">
	<figcaption>Recognition</figcaption>
	{% include "templates/award/list.html" %}
</figure>
<figure id="organizations">
	<figcaption>Organizations</figcaption>
	{% include "templates/organization/list.html" %}
</figure>
<figure id="galleries">
	<figcaption>Image Galleries</figcaption>
	{% include "templates/gallery/list.html" %}
</figure>
{% endblock %}