{% extends "species/landing.html" %}
{% set container_styles = "p-12 md:grid md:grid-cols-12 md:gap-8" %}
{% block hero %}
<h1 class="md:col-span-12">Now</h1>
{% endblock %}
{% block content %}
<article class="prose md:col-span-4">
	<p>I've worked with amazing, multitalented teams producing award-winning work with a real impact. People like <a
			href="https://www.joshgoldblum.com/">Josh Goldblum</a> at <a href="https://www.bluecadet/">Bluecadet</a>, who gave
		me my first paying gig back when the company was still operating out of his living room. <a
			href="https://www.linkedin.com/in/adamcutler/">Adam Cutler</a> and <a
			href="https://www.arup.com/our-firm/jeff-berg">Jeff Berg</a>, the people who introduced me to IBM and what it
		means to work on a global scale. And <a href="https://www.linkedin.com/in/willweems/">Will Weems</a> and <a
			href="https://world.hey.com/philip.levy">Phil Levy</a>, two colleagues and friends from Bixal who showed me what
		it means to grow and develop design culture in organizations.</p>
	<h2>Recognition</h2>
	<figure>
		{% for award in awards %}
		{% include "templates/award/link_detailed.html" %}
		{% endfor %}
	</figure>
</article>
<figure class="md:col-span-8">
	<h2>Case Studies & Lessons Learned</h2>
	{% include "species/feed.html" %}
</figure>

{% endblock %}