<!-- Mastodon verified site -->
<link rel="me" href="https://sciences.social/@datainkio" />

<!-- Open Graph meta -->

{% if project %}
{% include "templates/project/meta.html" %}
{% else %}
<meta property="og:url" content="https://dataink.io" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Russell Lebo" />
{% for image in images | find("id", "
recUaDUods0LUKmzC") %}
<meta property="og:image" content="https://dataink.io{{ image.pictureElement | imgURL('lg') }}" />
<meta property="og:image:alt" content="{{ project.Title }}" />
<meta property="og:image:type" content="{{ image.File[0].type }}" />
<meta property="og:image:width" content="{{ image.File[0].width }}" />
<meta property="og:image:height" content="{{ image.File[0].height }}" />
{% endfor %}

<meta property="og:description"
  content="I am a full-stack experience designer working with teams to build digital human-centered tools." />
<meta property="og:site_name" content="Russell Lebo - Full-Stack Experience Designer" />
<meta property="article:author" content="Russell Lebo" />
{% endif %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="#site_twitter" />
<meta name="twitter:creator" content="#creator_twitter" />