<!-- Mastodon verified site -->
<link rel="me" href="https://sciences.social/@datainkio" />

<!-- Open Graph meta -->

{% if project %}
{% include "templates/project/meta.html" %}
{% else %}
<meta property="og:url" content="https://dataink.io" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Russell Lebo" />
<meta property="og:image" content="https://dataink.io/assets/images/opengraph-default.jpg" />
<meta property="og:description"
  content="I am a full-stack experience designer working with teams to build digital human-centered tools." />
<meta property="og:site_name" content="Russell Lebo - Full-Stack Experience Designer" />
<meta property="article:author" content="Russell Lebo" />
{% endif %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="#site_twitter" />
<meta name="twitter:creator" content="#creator_twitter" />