<div class="nugget my-12">
{% if nugget.Images %}
{% set cols = "" %}
{% if nugget.Images.length > 1 %}
  {% set cols = "my-12 sm:grid sm:grid-cols-2 sm:gap-4" %}
{% endif %}
<div class="{{ cols }}">
{% for image in images | find('id', nugget.Images) %}
	{% set img_styles = "aspect-video object-cover overflow-hidden" %}
  {% include "templates/image/modal.html" %}
{% endfor %}
</div>
{% endif %}
  <h2>{{ nugget.Name }}</h2>
  {% if nugget.Description is string %}
    {{ nugget.Description | markdownify | safe }}
  {% endif %}
</div>