<div class="card lg:card-side px-4">
  <div class="card-body prose">
    <h2 class="card-title">{{ nugget.Name }}</h2>
    {% if nugget.Description is string %}
    {{ nugget.Description | markdownify | safe }}
    {% endif %}
  </div>

  <figure class="max-w-96 columns-3xl">
    {# 
      DON'T BOTH WITH MULTIPLE IMAGES - JUST COMBINE RELATED ONES INTO A SINGLE FILE 
      SO MUCH SIMPLER
    #}
    {% for image in images | find('id', nugget.Images) %}
    <div class="w-full">
      {% set action = ["modal_", image.id, ".showModal()"] | join %}
      <button class="picture object-contain" onclick="{{ action }}">{{ image.pictureElement | safe }}</button>
      <dialog id="modal_{{ image.id }}" class="modal">
        <div class="modal-box w-9/12 max-w-none">
          <h3 class="font-bold text-lg">{{ image.Title }}</h3>
          {% if image.Caption is string %}
          <p class="prose">{{ image.Caption | markdownify | safe }}</p>
          {% endif %}
          {{ image.pictureElement | safe }}
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
    </div>
    {% endfor %}
  </figure>
</div>