<figure>
  <figcaption>Print Marks</figcaption>
  <ul class="relative">
    <li class="printmark-bleed h-24">.printmark-bleed</li>
    <li class="printmark-registration-bar">
      <ul class="printmark-neutrals">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="printmark-registration">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="printmark-colors">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
    <li class="printmark-trim-horiz">.printmark-trim-horiz</li>
    <li class="printmark-trim-vert">.printmark-trim-vert</li>
    <li class="printmark-registration-bar h-24">
      <ul class="printmark-neutrals">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="printmark-cross-tl">.printmark-registration</div>
      <div class="printmark-cross-br">.printmark-registration</div>
      <ul class="printmark-colors">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </li>
    <li class="printmark-star-target h-24">.printmark-star-target</li>
    <li class="printmark-center-dot h-24">.printmark-center-dot</li>
    <li class="printmark-margins h-24">.printmark-margins</li>
  </ul>
</figure>
