<figure>
    <figcaption>Background Colors</figcaption>
    <ul>
        {% for key, value in styles.colors %}
        <li>
            <p>{{ key }}</p>
            <ul class="flex columns-{{ value | length }}" >
                {% for k, v in value %}
                <li class="p-4 content-center bg-{{ key }}-{{ k }}">bg-{{ key }}-{{ k }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</figure>
<figure>
    <figcaption>Text Colors</figcaption>
    <ul>
        {% for key, value in styles.colors %}
        <li>
            <p>{{ key }}</p>
            <ul>
                {% for k, v in value %}
                <li class="text-{{ key }}-{{ k }}">text-{{ key }}-{{ k }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</figure>