{% set href = ["/projects/",project.Name | slugify, "/"] | join %}
{% set card_styles = "card no-underline col-span-full md:col-span-6 lg:col-span-4 p-0 my-4" %}
{% if large %}
<div class="sm:grid sm:grid-cols-12 my-8 gap-8">
  {% for img in images | find("id", project.Thumbnail) %}{{ img.pictureElement | stylePicture("col-span-4", "") | safe }}{% endfor %}
  <div class="sm:col-span-6 mb-8 p-4">
    <h3 class="leading-none text-white font-medium text-2xl my-0 col-span-full">{{ project.Title }}</h3>
    <p class="prose {{ copy_styles }} my-2 col-span-6">{{ project.Teaser }}</p>
    <div class="sm:grid sm:grid-cols-2">
      {% include "templates/project/supplemental-info.html" %}
    </div>
    <a href="{{ href }}" class="{{ button_styles }} sm:col-start-11 sm:row-start-1 sm:my-auto">Details</a>
  </div>
</div>
{% elseif project.Weight <= 5  %}
<a href="{{ href }}" class="{{ card_styles }} hover:bg-neutral-800">
  {# IMAGE #}
  <figure class="h-64 md:h-48">
    {% for img in images | find("id", project.Thumbnail) %}{{ img.pictureElement | stylePicture("m-0", "m-0") | safe }}{% endfor %}
  </figure>
  <div class="card-body px-4">
    <h3 class="card-title leading-none text-white font-medium text-2xl my-0 col-span-full">{{ project.Title }}</h3>
    <p class="prose {{ copy_styles }}">{{ project.Teaser }}</p>
  </div>
</a>
{% else %}
<div class="{{ card_styles }}">
  {# IMAGE #}
  <figure class="h-64 md:h-48">
    {% for img in images | find("id", project.Thumbnail) %}{{ img.pictureElement | stylePicture("m-0", "m-0") | safe }}{% endfor %}
  </figure>
  <div class="card-body px-4">
    <h3 class="card-title leading-none text-white font-medium text-2xl my-0 col-span-full">{{ project.Title }}</h3>
    <p class="prose {{ copy_styles }}">{{ project.Teaser }}</p>
  </div>
</div>
{% endif %}