{% set href = ["/case-studies/",project.Name | slugify, "/"] | join %}
<a id="{{ project.id }}" href="{{ href }}" class="project nav all {% if project.Featured %}featured{% endif %} {{ project.CategorySlug }} weight-{{ project.Weight }} card {{ orientation }}">
  <figure>
    {% for img in images | find("id", project.Thumbnail) %}{{ img.pictureElement | stylePicture("", "") | safe }}
    {% endfor %}
  </figure>
  <div class="card-body p-2 flex content-end aspect-video gap-0">
    <h2 class="font-bold text-sm text-center leading-snug">{{ project.Title }}</h2>
    <span class="text-xs font-light text-center">
      {% for organization in organizations | find('id', project.Organization) %}
       {{ organization.Name }}
          {% if loop.last %}
          {% else %},
          {% endif %}
      {% endfor %}
    </span>
  </div>
</a>