{% set href = ["/case-studies/",project.Name | slugify, "/"] | join %}
<a id="{{ project.id }}" href="{{ href }}" class="project nav all {% if project.Featured %}featured{% endif %} {{ project.CategorySlug }} weight-{{ project.Weight }} card {{ orientation }}">
  <figure>
    {% for img in images | find("id", project.Thumbnail) %}{{ img.pictureElement | stylePicture("", "") | safe }}
    {% endfor %}
  </figure>
  <div class="card-body p-2 flex content-end aspect-video gap-0 text-pretty">
    <h4 class="font-light text-xs sm:col-span-8 text-center">{{ project.Title }}</h4>
  </div>
</a>