<a
  id="{{ project.id }}"
  onclick="{{ action }}"
  class="max-h-72 overflow-hidden project all grid grid-cols-12 pt-2 pb-8 text-neutral-200 {% if project.isFeatured %}featured{% endif %} {{ project.CategorySlug }} weight-{{ project.Weight }}"
>
  <h4 class="text-sm font-bold col-span-11 text-balanced">
    {{ project.Title }}
  </h4>
  {% if project.Recognition %}
    {% include "atoms/svg/award.svg" %}
  {% endif %}
  <p class="font-light text-xs text-neutral-300 col-span-full w-full">
    {% for role in roles | find('id', project.Role) %}
    {{ role.Name }}{% if loop.last %}{% else %}, {% endif %}
    {% endfor %}
  </p>
  {% for img in images | find("id", project.Thumbnail) %}{{ img.pictureElement | stylePicture("col-span-full", "p-12 pb-0 bg-neutral-800") | safe }} {% endfor %}
</a>