{% extends "cells/cards/abstract.html" %}

{# STYLES #}
{% set layout = "" %}
{% set aspect_ratio = "" %}
{% set bgColor = "bg-none" %}
{% set height = "h-96" %}
{% set imageHeight = "h-1/2" %}
{% set bodyStyles = "text-left" %}

{# TITLE #}
{% set client = organizations | find("id", project.Client) %}
{% set title = client[0].Name %}

{# IMAGE #}
{% block picture %}
{% for img in images | find("id", project.Thumbnail) %}
{{ img.pictureElement | safe }}
{% endfor %}
{% endblock %}

{# COPY #}
{% block content %}
{% endblock %}