{% set figcaption_styles = "text-slate-400" %}
{% set link_styles = "text-white" %}

<!-- COMPANY -->
{% if project.Company %}
<figure>
  <figcaption class="{{ figcaption_styles }}">Company</figcaption>
  <ul>
    {% for organization in organizations | find('id', project.Company) %}
    <li>{% include "templates/organization/link.html" %}</li>
    {% endfor %}
  </ul>
</figure>
{% endif %}

<!-- CLIENT -->
{% if project.Client %}
<figure>
  <figcaption class="{{ figcaption_styles }}">Clients</figcaption>
  <ul>
    {% for organization in organizations | find('id', project.Client) %}
    <li>{% include "templates/organization/link.html" %}</li>
    {% endfor %}
  </ul>
</figure>
{% endif %}

<!-- ROLE -->
{% if project.Role %}
<figure>
  <figcaption class="{{ figcaption_styles }}">Roles</figcaption>
  <ul>
    {% for role in roles | find('id', project.Role) %}
    <li>{% include "templates/role/link.html" %}</li>
    {% endfor %}
  </ul>
</figure>
{% endif %}

<!-- ACTIITIES -->
{% if project.Activities %}
<figure>
  <figcaption class="{{ figcaption_styles }}">Activities</figcaption>
  <ul class="list-none pl-0">
    {% for activity in activities | find('id', project.Activities) %}
    <li>{% include "templates/activity/link.html" %}</li>
    {% endfor %}
  </ul>
</figure>
{% endif %}

<!-- RECOGNITION -->
{% if project.Recognition %}
<figure>
  <figcaption class="{{ figcaption_styles }}">Recognition</figcaption>
  <ul>
    {% for award in awards | find('id', project.Recognition) %}
    <li>{% include "templates/award/link.html" %}</li>
    {% endfor %}
  </ul>
</figure>
{% endif %}