<dialog id="modal_{{ project.id }}" class="modal">
    <form method="dialog">
        <button class="btn btn-xs btn-circle btn-primary absolute right-2 top-2 not-italic">✕</button>
    </form>
    <figure class="modal-box flex flex-col gap-4">
        <figcaption class="basis-full">
            <h3 class="text-3xl font-light m-0 text-neutral-200">{{ project.Name }}</h3>
        </figcaption>
        {% for img in images | find("id", project.Featured) %}{{ img.pictureElement | stylePicture("md:basis-1/2", "") | safe }}
        {% endfor %}
        <section id="description" class="description col-span-6 font-light text-neutral-200">
            {% if project.Description is string %}
            {{ project.Description | markdownify | safe }}
            {% endif %}
        </section>
        <section id="details"
            class="col-span-6">
            {% include "templates/project/supplemental-info.html" %}
        </section>
        {% include "templates/project/awards.html" %}
        <a href="{{ href}}" class="btn btn-primary w-full my-4">View Case Study</a>
    </figure>
</dialog>