{% extends "species/article.html" %}

{# STYLES #}
{% set body_styles = "bg-black" %}
{% set container_styles = "px-0" %}
{% set section_styles = "p-4 sm:p-12" %}
{% set grid = "grid grid-cols-12 gap-2 md:gap-4" %}
{% set heading_styles = "prose text-3xl sm:text-4xl leading-none font-thin mb-8 text-neutral-50" %}
{% set link_styles = "text-lg sm:text-xl font-medium link-hover link-primary" %}
{% set copy_styles = "font-thin text-neutral-50 text-lg sm:text-xl leading-tight text-wrap prose text-pretty" %}
{% set button_styles = "btn btn-circle btn-primary w-24 h-24 text-lg italic " %}

{% block accessibility %}
<a href="#introduction">introduction</a>
{% for category in ia %}
<a href="#{{ category.Slug }}">{{ category.Title | slugify }}</a>
{% endfor %}
{% endblock %}

{% block hero %}
<section id="introduction" class="{{ section_styles }} text-white sm:grid sm:grid-cols-2 gap-8">
  <h1 class="col-span-full">Work</h1>
  <p class="{{ copy_styles }} sm:col-start-1">
    I am a lucky guy. In my 20+ years designing and building digital products and services I have worked with museums,
    artists, scientists, hospitals, banks, schools, global brands, and even the federal government.</p>
  <p class="{{ copy_styles }} sm:col-start-1">Each project brings a unique set of challenges and puzzles to solve, and I thrive on finding solutions shaped by a focus on human-centered design.</p>
  <ul class="sm:row-start-2 sm:row-span-3 sm:col-start-2">
    {% for category in ia %}
    <li><a class="category {{ link_styles }}" id="#{{ category.Slug | slugify }}">{{ category.Title }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
{% block content %}
{% for category in ia %}
<figure id="{{ category.Slug | slugify }}" class="category {{ section_styles }} sm:grid sm:grid-cols-3 gap-4">
  <figcaption class="{{ heading_styles }} col-span-full divider divider-primary">{{ category.Title }}</figcaption>
  {% set set = projects | find("id", category.Projects) %}
  {% for project in set %}
  {% if project.Featured %}
  {% include "templates/project/card-md.html" %}
  {% endif %}
  {% endfor %}
  <a href="/projects/types/{{ category.Slug | slugify }}/" class="{{ button_styles }} col-span-full mx-auto">More</a>
</figure>
{% endfor %}
{% endblock %}