{% extends "species/base.html" %}
{% block banner %}
<section class="grid grid-cols-3 pb-12 gap-12 p-12">
  <div class="col-span-full md:col-span-2">
    <h1 class="font-black leading-none mb-8 text-4xl lg:text-6xl xl:text-8xl ">Work</h1>
    
  </div>
</section>
{% endblock %}
{% set grid = "grid grid-cols-12" %}
{% set container_styles = "" %}
{% block main %}
<figure class="col-span-8">
  <figcaption>Roles</figcaption>
  {% include "templates/role/list.html" %}
</figure>
<figure class="col-span-8">
  <figcaption>Industries</figcaption>
  <ul>
    {% for category in ia %}
    <li><a class="link link-hover"
      href="/projects/types/{{ category.Slug | slugify }}/">{{ category.Slug }}</a></li>
    {% endfor %}
  </ul>
</figure>
<section class="col-span-4">
{% include "templates/project/grid.html" %}
</section>
{% endblock %}