{% extends "species/landing.html" %}
{% set container_styles = "p-12 md:grid md:grid-cols-12 md:gap-8" %}
{% block hero %}
<h1 class="md:col-span-12">Work</h1>
{% endblock %}
{% block content %}
<article class="prose md:col-span-4">
  <p>
    I am a lucky guy. In my 20+ years designing and building digital products and services I have worked with museums,
    artists, scientists, hospitals, banks, schools, global brands, and even the federal government.
  </p>
  <p>Each project brings a unique set of challenges and puzzles to solve, and I thrive on finding solutions shaped by a
    focus on human-centered design.</p>
</article>
<figure class="md:col-span-8">
  {% set data = projects %}
  {% set grid = "md:grid md:grid-cols-3 md:gap-4" %}
  {% include "templates/project/grid.html" %}
</figure>
{% endblock %}