{% extends "species/base.html" %}
{% block banner %}
{% include "templates/project/hero.html" %}
{% endblock %}
{% set grid = "grid grid-cols-12" %}
{% block main %}
<article class="prose grid grid-cols-subgrid col-span-full p-12">

  <!-- DESCRIPTION -->
  <section class="prose col-span-8">
    {{ project.Description | expand(images) | format | safe }}
  </section>

  <!-- LESSONS LEARNED -->
  {% if project.Nuggets %}
  {% set card_styles = "col-span-4" %}
  <section class="grid grid-cols-subgrid col-span-12">
    {% for nugget in nuggets | find('id', project.Nuggets) %}
    {% include "templates/nugget/card.html" %}
    {% endfor %}
  </section>
  {% endif %}

  {% if project.Activities %}
  <section class="row-start-1 col-start-9 col-span-4 pl-4">
    <figure>
      <figcaption>Activities</figcaption>
      <ul>
        {% for activity in activities | find('id', project.Activities) %}
        <li>{% include "templates/activity/link.html" %}</li>
        {% endfor %}
      </ul>
    </figure>
  </section>
  {% endif %}
</article>

{% endblock %}