{% extends "species/article.html" %}
<!-- WE DON'T NEED ANOTHER HERO -->
{% block hero %}
<section class="bg-black p-12 pb-20">
  <div class="pb-8">
    <h1 class="text-white font-black text-center md:text-left">{{ project.Title }}</h1>
    <p class="text-white text-center md:text-left md:text-2xl font-extralight">{{ project.Teaser }}</p>
  </div>
  <!-- HERE BE PROJECT METADATA -->
  <section class="text-center md:text-left md:flex md:flex-wrap gap-4">
    {% set figcaption_styles = "text-slate-400" %}
    {% set link_styles = "text-white text-med font-light" %}

    <!-- COMPANY -->
    {% if project.Organization %}
    <figure>
      <figcaption class="{{ figcaption_styles }}">Company/Client</figcaption>
      <ul>
        {% for organization in organizations | find('id', project.Organization) %}
        <li>{% include "templates/organization/link.html" %}</li>
        {% endfor %}
      </ul>
    </figure>
    {% endif %}

    <!-- ROLE -->
    {% if project.Role %}
    <figure>
      <figcaption class="{{ figcaption_styles }}">Roles</figcaption>
      <ul>
        {% for role in roles | find('id', project.Role) %}
        <li>{% include "templates/role/link.html" %}</li>
        {% endfor %}
      </ul>
    </figure>
    {% endif %}

    <!-- ACTIITIES -->
    {% if project.Activities %}
    <figure>
      <figcaption class="{{ figcaption_styles }}">Activities</figcaption>
      <ul class="list-none pl-0">
        {% for activity in activities | find('id', project.Activities) %}
        <li class="{{ link_styles }}">{{ activity.Name }}</li>
        {% endfor %}
      </ul>
    </figure>
    {% endif %}

    <!-- RECOGNITION -->
    {% if project.Recognition %}
    <figure>
      <figcaption class="{{ figcaption_styles }}">Recognition</figcaption>
      {% set link_styles = "text-white" %}
      <ul>
        {% for award in awards | find('id', project.Recognition) %}
        {% include "templates/award/link_detailed.html" %}
        {% endfor %}
      </ul>
    </figure>
    {% endif %}
  </section>
</section>
{% endblock %}
{% block content %}
<!-- DESCRIPTION -->
<section class="p-12 prose">
  {% if project.Description is string %}
  {{ project.Description | markdownify | safe }}
  {% endif %}
</section>
{#
  <!-- GALLERY -->
  <section class="col-span-4">
    {% if project.Galleries %}
    {% for gallery in galleries | find('id', project.Galleries) %}
    {% include "templates/gallery/grid.html" %}
    {% endfor %}
    {% endif %}
  </section>
#}



<!-- NUGGETS -->
{% if project.Nuggets %}
{% for nugget in nuggets | find('id', project.Nuggets) %}
{% include "templates/nugget/card.html" %}
{% endfor %}
{% endif %}

{% endblock %}