<!-- ROLE -->
{% if project.Role %}
<figure>
	<figcaption>Roles</figcaption>
	<ul>
		{% for role in roles | find('id', project.Role) %}
		<li class="inline-block">{{ role.Name }}{% if loop.last %}{% else %}, {% endif %}</li>
		{% endfor %}
	</ul>
</figure>
{% endif %}

<!-- COMPANY -->
{% if project.Organization %}
<figure>
	<figcaption>Company/Client</figcaption>
	<ul>
		{% for organization in organizations | find('id', project.Organization) %}
		<li>{{ organization.Name }}{% if loop.last %}{% else %}, {% endif %}</li>
		{% endfor %}
	</ul>
</figure>
{% endif %}
</div>

<!-- ACTIITIES -->
{% if project.Activities %}
<figure class="col-span-2">
<figcaption>Activities</figcaption>
<ul class="list-none pl-0">
	{% for activity in activities | find('id', project.Activities) %}
	<li class="inline-block">{{ activity.Name }}{% if loop.last %}{% else %}, {% endif %}</li>
	{% endfor %}
</ul>
</figure>
{% endif %}