{% extends "species/article.html" %}

{# STYLES #}
{% set body_styles = "bg-black" %}
{% set container_styles = "px-0" %}
{% set section_styles = "p-4 sm:p-12" %}
{% set grid = "grid grid-cols-12 gap-2 md:gap-4" %}
{% set heading_styles = "prose text-3xl sm:text-4xl leading-none font-thin mb-8 text-neutral-50" %}
{% set link_styles = "link-primary link-hover font-medium" %}
{% set copy_styles = "prose font-thin text-neutral-50 text-lg sm:text-xl leading-tight text-wrap text-pretty" %}
{% set button_styles = "btn btn-circle btn-primary w-24 h-24 text-lg italic " %}


{% block accessibility %}
<a href="#introduction">introduction</a>
<a href="#projects">projects</a>
{% endblock %}
{% block hero %}
<section id="introduction" class="{{ section_styles }} text-white grid sm:grid-cols-2">
<a class="{{ link_styles }} text-xl sm:text-2xl" href="/projects/">Work /</a>
<h1 class="col-span-full mt-0">{{ type.Title }}</h1>
<p id="introduction" class="{{ copy_styles }}">
  {{ type.Body }}</p>
</section>
{% endblock %}
{% block content %}
<figure id="projects" class="{{ section_styles }}">
  <figcaption class="divider divider-primary {{ heading_styles}}"?>Projects</figcaption>
  {% for project in projects | find("id", type.Projects) %}
  {% if project.Published %}
  {% set large = true %}
  {% include "templates/project/card.html" %}
  {% endif %}
  {% endfor %}
</figure>
<figure id="impact" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 px-8">
  <figcaption class="divider divider-primary {{ heading_styles }} col-span-full">Impact</figcaption>
  {% for stat in outcomes %}
  {% if (stat.IA == type.Slug) and (stat.Type == "Success Metric") %}
  {% set href = "" %}
  {% for project in projects | find("id", stat.Projects) %}
    {% set href = ["/projects/",project.Name | slugify, "/"] | join %}
    {% include "molecules/stat.html" %}
  {% endfor %}
  {% endif %}
  {% endfor %}
</figure>
{% endblock %}