<div id="categories" class="navbar col-span-full">
  <div class="navbar-start w-full">
    <span id="category_current" class="lg:hidden">Featured</span>
		<ul class="menu menu-horizontal px-1 hidden lg:flex w-full gap-4">
      <li><a id="featured" class="btn btn-outline category btn-active">Featured</a></li>
			{% for category in ia %}
			<li><a id="{{ category.Slug | slugify }}" class="btn btn-outline category">{{ category.Title }}</a></li>
			{% endfor %}
    </ul>
  </div>
  <div class="navbar-end w-auto">
		<div class="dropdown dropdown-end  lg:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-neutral-900 text-white rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a id="featured" class="category active">Featured</a></li>
					{% for category in ia %}
					<li><a id="{{ category.Slug | slugify }}" class="category">{{ category.Title }}</a></li>
					{% endfor %}
      </ul>
    </div>
  </div>
</div>