<section id="contributions" class="z-10 col-span-full grid grid-cols-subgrid grid-rows-4 items-start relative">
    <header class="col-span-full">
        <h2 class="uppercase text-[.75rem]">{{ count }}/4 How I Work</h2>
    </header>
    <p class="font-bold text-4xl leading-snug text-neutral-200 col-span-5 text-center self-center row-span-2">Good UX isn't measured in pixels.</p>
    <p class="text-neutral-200 col-span-6">
        As a design lead, I spend as much time sweating how things look and move
        as I do sitting in workshops and boardrooms, discussing clients' user needs, technical
        constraints, product strategy, and business objectives.
    </p>
    <p class="text-neutral-200 col-span-6">
        I am often hands-on encouraging my teams to play, remix, and look at things sideways -
        using customer and business insights, brand, storytelling, and human-centered design to
        create products and services that meet real human needs.
    </p>
    {% include "atoms/backgrounds/BlockframeSkyline.html" %}
</section>