<section>
    <header class="col-span-full place-self-start">
        <h2 class="uppercase text-neutral-800 text-[.75rem]">{{ count }}/4 Copywriting</h2>
    </header>
    <section class="col-start-7 col-span-6">
        <h3 class="tracking-tight leading-none text-2xl mb-4">Collaboration</h3>
        <p>I work to ensure that teams are aligned with the end goal of creating meaningful,
            intuitive experiences.</p>
        <p>I work closely with user researchers to identify key questions and hypotheses that reveal critical insights
            into
            human behavior. These insights directly shape the design strategies I develop, guiding designers toward more
            impactful
            solutions. By bringing a nuanced human perspective, I help engineers translate possibilities into tangible
            outcomes that put people first.</p>
    </section>
    <section class="col-start-6 col-span-6">
        <h3 class="tracking-tight leading-none text-2xl mb-4">Strategy</h3>
        <p>I spend as much time sweating UI pixels and UX flows as I do sitting in workshops and boardrooms, discussing
            clients’
            user needs, technical constraints, product strategy, and business objectives.</p>
    </section>
    <section class="col-start-6 col-span-6">
        <h3 class="tracking-tight leading-none text-2xl mb-4">Direction</h3>
        <p>
            As a design lead, I am often hands-on encouraging my teams to play, remix, and look at things sideways -
            using
            customer and business insights, brand, storytelling, and human-centered design to create products and
            services that meet real
            human needs.
        </p>
    </section>
</section>