<section class="min-h-dvh grid-cols-subgrid content-start gap-4">
    {% include "atoms/display/ruler.html" %}
    <header class="col-span-full">
        <h2 class="uppercase text-[.75rem]">{{ count }}/4 What I Do</h2>
    </header>
    <p class="col-start-6 col-span-6 text-neutral-200 lead order-3">
        Twenty years of delivering award-winning, meaningful, and intuitive experiences across a veritable slurry of
        industries. The audiences may change but the goals remain the same: solve real problems for real people.
    </p>
    <figure class="col-start-6 col-span-6 order-4">
        <figcaption class="sr-only">Global Brands, Healthcare, Civic, Museums, Artists and Musicians, Education
        </figcaption>
        {% include "molecules/lists/organizations.html" %}
    </figure>
    <figure class="col-span-5 order-2 row-span-5 px-12">
        <figcaption class="sr-only">Awards</figcaption>
        {% include "molecules/lists/awards.html" %}
    </figure>
</section>