<section class="col-span-full grid grid-cols-subgrid z-10 bg-neutral-200">
    <header class="col-span-full order-1">
        <h2 class="parallax uppercase text-xs text-left">{{ count }}/4 What I Do</h2>
    </header>
    <p class="px-4 mt-8 col-span-9 text-4xl font-bold text-pretty leading-snug">
        More than pixels
    </p>
    <p class="col-start-4 col-span-9 prose px-4">
        Good digital experience design doesn't just happen. It comes from a deep understanding of how and why
        people do what they do and connecting this with business goals.
    <p class="col-start-4 col-span-9 prose text-balance px-4">
        I work closely with user researchers to identify key questions and hypotheses that reveal critical 
        insights into human behavior. These insights directly shape the design strategies I develop, guiding 
        designers toward more impactful solutions. By bringing a nuanced human perspective, I help engineers 
        translate possibilities into tangible outcomes.
    </p>
    {% for image in decorations %} {# Fix find/pluck filters #}
        {% if image.id == "recNjbpX7lBGxQzmg" %}
        {{ image.pictureElement | stylePicture("-z-[6] absolute left-0 h-full col-span-4 block", "stroke-2", "",
        "clamp(.9)")| safe }}
        {% endif %}
    {% endfor %}
</section>