<section class="min-h-dvh grid-cols-subgrid content-start gap-4">
    {% include "atoms/display/ruler.html" %}
    <script>
        // var rulerIntro = gsap.timeline();
        // gsap.set(".tick, .tick-label", {opacity: 0});
        // rulerIntro.add(gsap.from(".ruler", {duration: 5, scaleX: 0}));
        // rulerIntro.add(gsap.to(".tick", { duration: .1, opacity: 1, stagger: .05 }));
        // rulerIntro.add(gsap.to(".tick-label", { duration: 1, opacity: 1, stagger: .1 }));
        // rulerIntro.pause();
    </script>
    <header class="col-span-full">
        <h2 class="uppercase text-[.75rem]">{{ count }}/4 What I Do</h2>
    </header>
    <p class="text-5xl leading-snug text-neutral-200 col-start-6 col-span-6">UX is more than pixels</p>
    <figure class="col-start-6 col-span-6 order-4">
        <figcaption class="sr-only">Global Brands, Healthcare, Civic, Museums, Artists and Musicians, Education
        </figcaption>
        {% include "molecules/lists/organizations.html" %}
    </figure>
    <figure class="col-span-5 order-2 row-span-5 px-12">
        <figcaption class="sr-only">Awards</figcaption>
        {% include "molecules/lists/awards.html" %}
    </figure>
</section>