<section id="intro" class="p-12 col-span-full z-10 bg-neutral-200 text-neutral-800 grid grid-cols-3 content-start sticky top-1/2">
    <header class="col-span-full grid grid-cols-subgrid gap-4">
        <h2 class="uppercase text-[.75rem] m-0 col-span-full">{{ count }}/4 What I've Done</h2>
        <div id="twenty-years" class="stat">
            <div class="stat-value font-display font-bold text-2xl sm:text-fluid leading-none">20</div>
            <div class="stat-desc text-3xl text-pretty text-wrap leading-tight ">years of award-winning work</div>
        </div>
        <p class="prose">{{ statement.background }}</p>
        <p class="prose">{{ statement.activities }}</p>
    </header>
    {% include "templates/about/awards.html" %}
</section>