<section id="intro" class="z-50 min-h-dvh col-span-full grid-cols-subgrid content-start gap-4 relative">
    <header class="col-span-full">
        <h2 class="parallax uppercase text-[.75rem]">{{ count }}/4 Intro</h2>
    </header>
    <h2>UX is more than pixels</h2>
    <h2>UX is more than usability</h2>
    <h2>UX is more than research</h2>
    <h2>UX is connective tissue</h2>
    <!-- rec552HxTnhtw7pka -->
    {% for image in decorations %} {# Fix find/pluck filters #}
    {% if image.id == "recduasQwiZ2Btids" %}
    {{ image.pictureElement | stylePicture("-z-[6] absolute top-0 h-full col-span-full block", "stroke-2", "", "clamp(.9)")| safe }}
    {% endif %}
    {% endfor %}
</section>