<!-- @format -->
{% extends "species/landing.html" %}
{% block cap %}{% endblock %}
{% set main_styles = "landing bg-graphpaper bg-cover text-neutral-200 grid grid-cols-12 opacity-0" %}
{% set title_styles = "h-dvh p-4 mb-16 col-span-full grid grid-cols-subgrid place-content-end" %}
{% block header %}
{% include "templates/about/title.html" %}
{% endblock %}
{% block primary %}
{% include "atoms/display/ruler.html" %}
{% set count = 0 %}
{% include "templates/about/experience.html" %}
{% set count = 1 %}
{% include "templates/about/contributions.html" %}
{% set count = 2 %}
{% include "templates/about/work.html" %}
{% set count = 3 %}

<!--
<section id="background" class="h-dvh py-24 items-center">
	<header class="col-span-6 px-24"><h2 class="text-4xl font-black">Roots in anthropology</h2></header>
		<p class="col-span-6">
			My education is in social anthropology. As a student I explored the ongoing dialog between language, tool use, and
			human behavior. Those years spent studying the interrelationships between different models of the human being continue
			to shape my values and methods as a designer.
		</p>
		<p class="col-span-6">
			Today I think in terms of systems, information flows, and decision-making. 
		</p>
</section>
-->
<section id="research">
	<header>
		<h2>Research</h2>
	</header>
	<p class="lead text-neutral-200">
		
	</p>
	<footer></footer>
</section>
<section id="design">
	<header>
		<h2>Design</h2>
	</header>
	<p class="lead text-neutral-200">
		
	</p>
	<footer></footer>
</section>
<section id="development">
	<header>
		<h2>Development</h2>
	</header>
	<p class="lead text-neutral-200">
	</p>
	<footer></footer>
</section>
{% endblock %}