
    
    <h2 class="sr-only">Introduction</h2>

    <header class="col-span-full grid grid-cols-subgrid p-0">
        <h3 class="sr-only">Introduction</h3>
        <section class="col-span-3 m-0 p-0 border-r">
            <h4 class="font-bold text-xs">My name is</h4>
            <p class="text-lg m-0 pb-4 pt-3">Russell S. Lebo</p>
        </section>
        <section class="col-span-9 m-0 p-0 ml-16">
            <h4 class="font-bold text-xs">Owner of</h3>
            <p class="text-lg m-0 pb-4 pt-3">data:ink:io <span class="text-sm">llc</span></p>
        </section>
        <section class="col-span-full m-0 p-0 border-y">
            <h4 class="font-bold text-xs">Homebase</h4>
            <p class="text-lg m-0 pb-4 pt-3">Baltimore, MD</p>
        </section>
    </header>

    <section id="statement" class="col-span-8 pr-6">
        <h3 class="font-bold text-xs">I am</h3>
        <p class="pt-4">{{ statement.introduction }}</p>
        <p>{{ statement.background }}</p>
        <p>{{ statement.activities }}</p>
        <figure id="practices" class="col-span-8 grid grid-cols-8 gap-2 border-t">
            <figcaption class="col-span-full">
                <h4 class="font-bold text-xs">Practice Areas</h4>
            </figcaption>
            <div class="col-span-2 aspect-square">
                <div class="w-full h-full bg-neutral-400 mask mask-circle flex items-center">
                    <p class="text-xs mx-auto text-center align-bottom">Creative Direction</p>
                </div>
            </div>
            <div class="col-span-2 aspect-square">
                <div class="w-full h-full bg-neutral-400 mask mask-circle flex items-center">
                    <p class="text-xs mx-auto text-center align-bottom">Research</p>
                </div>
            </div>
            <div class="col-span-2 aspect-square">
                <div class="w-full h-full bg-neutral-400 mask mask-circle flex items-center">
                    <p class="text-xs mx-auto text-center align-bottom">Human-Centered Design</p>
                </div>
            </div>
            <div class="col-span-2 aspect-square">
                <div class="w-full h-full bg-neutral-400 mask mask-circle flex items-center">
                    <p class="text-xs mx-auto text-center align-bottom">Design Systemization</p>
                </div>
            </div>
        </figure>
        <footer>
            <btn class="btn btn-rounded btn-outline mx-auto">Read the Design Leader's Playbook</btn>
        </footer>
    </section>

    <aside class="col-start-9 row-start-2 row-span-2 col-span-4 border-l">
        <div class="border-b p-6 pr-0">
            <div class="aspect-square w-full bg-neutral-400 mask mask-circle flex items-center">
                <p class="text-xs mx-auto text-center align-bottom">Photo</p>
            </div>
        </div>
        <figure id="awards" class="p-6">
            <figcaption class="sr-only">
                <h3>Awards</h3>
            </figcaption>
            {% include "molecules/lists/awards.html" %}
        </figure>
    </aside>

    <footer>

    </footer>
