<h1 class="col-span-full order-2 text-fluid text-right">
    {{ title }}
</h1>
<p id="intro-text" class="col-start-8 col-span-5 text-neutral-200 font-light tracking-tight leading-tight text-xl sm:text-2x md:text-3xl">
    {{ introduction }}
</p>
<script>
    var elem = document.getElementsByTagName("h1")[0];
    var letters = elem.innerText.split("");
    elem.innerHTML = "<span>" + letters.join("</span><span>") + "</span>";

    var intro = gsap.timeline();
    intro.add(gsap.from("h1 span", { duration: 1, opacity: 0, stagger: .1 }));
    intro.add(gsap.from("#intro-text", { duration: 1.5, opacity: 0}), .9);
</script>