<header class="col-span-full">
    <h2 class="parallax uppercase text-[.75rem]">{{ count }}/4 What I've Done</h2>
</header>
<p class="lead col-span-full text-neutral-200">
    Twenty years of award-winning, meaningful, and intuitive digital experiences.
</p>
<!-- Project category controls-->
<ul id="types" class="menu menu-horizontal mx-auto col-span-full gap-2 mb-8">
    <li>
        <a id="featured"
            class="btn btn-sm  btn-outline text-neutral-200 btn-neutral-200 category btn-active">Featured</a>
    </li>
    {% for category in ia %}
    <li>
        <a id="{{ category.Slug | slugify }}"
            class="btn btn-sm text-neutral-200 btn-outline btn-neutral-200 category">{{ category.Title
            }}</a>
    </li>
    {% endfor %}
    <li class="aspect-video">
        <a id="all" class="btn btn-sm btn-outline text-neutral-200 btn-neutral-200 category">All</a>
    </li>
</ul>
<section id="projects" class="col-span-full grid grid-cols-4">
{% for project in projects | sortByAttribute('Weight') %}
    {% set href = ["/case-studies/",project.Name | slugify, "/"] | join %}
    {% set action = ["modal_", project.id, ".showModal()"] | join %}
    {% include "templates/project/card-image.html" %}
    {% include "templates/project/modal.html" %}
{% endfor %}
</section>