<section id="work" class="col-span-full grid grid-cols-3 bg-graphpaper-dark p-12">
    <header class="col-span-full">
        <h2 class=" text-neutral-200 uppercase text-[.75rem]">{{ count }}/4 What I've Done</h2>
    </header>
    <aside class="h-min">
        <p class="text-neutral-200">
            Twenty years of award-winning, meaningful, and intuitive digital experiences.
        </p>
        <!-- Project category controls-->
        <ul id="types" class="menu menu-vertical w-36 mx-auto gap-2">
            <li>
                <a id="featured"
                    class="btn btn-sm  btn-outline text-neutral-200 btn-neutral-800 category btn-active">Featured</a>
            </li>
            {% for category in ia %}
            <li>
                <a id="{{ category.Slug | slugify }}"
                    class="btn btn-sm btn-outline text-neutral-200 btn-neutral-800  category">{{ category.Title
                    }}</a>
            </li>
            {% endfor %}
            <li class="aspect-video">
                <a id="all" class="btn btn-sm btn-outline text-neutral-200 btn-neutral-200  category">All</a>
            </li>
        </ul>
    </aside>
    <figure id="projects" class="col-start-2 row-span-2 col-span-2 grid grid-cols-3 gap-8">
        <figcaption class="sr-only">Project List</figcaption>
        {% for project in projects | sortByAttribute('Weight') %}
            {% set href = ["/case-studies/",project.Name | slugify, "/"] | join %}
            {% set action = ["modal_", project.id, ".showModal()"] | join %}
            {% include "templates/project/card-image.html" %}
            {% include "templates/project/modal.html" %}
        {% endfor %}
    </figure>
</section>