
<section class="col-span-full bg-neutral-900  grid grid-cols-subgrid">
    <header class="col-span-full">
        <h2 class="uppercase text-[.75rem]">{{ count }}/4 What I've Done</h2>
    </header>
    <p class="lead col-span-5 text-neutral-200 justify-self-center self-end">
        Twenty years of delivering award-winning, meaningful, and intuitive experiences across a veritable slurry of
        industries. The audiences may change but the goals remain the same: solve real problems for real people.
    </p>
    <ul id="types" class="menu menu-horizontal row-start-3 col-span-5 gap-2 mb-8 justify-self-center">
        <li>
            <a id="featured"
                class="btn btn-sm  btn-outline text-neutral-200 btn-neutral-200 category btn-active">Featured</a>
        </li>
        {% for category in ia %}
        <li>
            <a id="{{ category.Slug | slugify }}"
                class="btn btn-sm text-neutral-200 btn-outline btn-neutral-200 category">{{ category.Title
                }}</a>
        </li>
        {% endfor %}
        <li>
            <a id="all" class="btn btn-sm btn-outline text-neutral-200 btn-neutral-200 category">All</a>
        </li>
    </ul>
    <figure id="projects" class="align-center row-span-2 col-start-6 col-span-7 max-w-6xl sm:grid sm:grid-cols-4 lg:grid-cols-6">
        <figcaption class="sr-only">Case Studies</figcaption>
        {% for project in projects | sortByAttribute('Weight') %}
            {% include "templates/project/card-lg.html" %}
        {% endfor %}
    </figure>
</section>
<script>

    document.addEventListener("DOMContentLoaded", (event) => {

        let dur = .25; // base value for animation duration (in seconds)
        let y_delta = 0; // vertical origin of elements
        let pos = "-=50%"; // offset (in seconds) of animation relative to the previous
        // gsap.registerPlugin(ScrollTrigger, ScrollToPlugin);

        gsap.registerPlugin(ScrollTrigger);

        const title = gsap.timeline({
            scrollTrigger: {
                trigger: "#title",
                start: "top top",
                scrub: 1
            },
        });
        title.add(gsap.to("#title", { height: "auto" }));
        title.add(gsap.to("#title p", { autoAlpha: 0, height: 0 }));
        title.add(gsap.to("#title h1", { fontSize: "3rem" }), "<");
        title.add(gsap.to("#header", { boxShadow: "0 10px 10px -5px rgba(0, 0, 0, 0.25)" }))

        /** INITIALIZE VIEW */
        const cards = gsap.utils.toArray("a.card.project");
        cards.forEach(card => {
            card.style.opacity = 0;
            card.classList.add("hidden");
        });


        /** WELCOME SEQUENCE */
        // let welcome = gsap.timeline();
        // welcome.add(gsap.from("#title h1", {duration: dur, y:y_delta, autoAlpha: 0, ease: "sine.inOut", delay: .5}));
        // welcome.add(gsap.from("#title p", {duration: dur, autoAlpha: 0, ease: "sine.inOut",}), pos);
        // welcome.add(gsap.from('.card.project.featured', {autoAlpha: 0, duration: dur, ease: "sine.inOut"}), pos);
        // welcome.add(gsap.from('.navbar-end', {autoAlpha: 0, duration: dur, ease: "sine.inOut"}), pos);

        // SHOW FEATURED PROJECTS
        const featured = gsap.utils.toArray("a.card.project.featured");
        const controls = gsap.timeline();
        featured.forEach(card => {
            card.classList.remove("hidden");
            card.classList.add("current");
            controls.add(gsap.to(card, { opacity: 1, y: y_delta, duration: dur * .76, ease: "sine.inOut" }), pos);
        });
        applyAlternatingStyles();

        /** 
         * CATEGORY SELECTION
         * Bring a category into view when its menu item is selected
         * */
        const categories = gsap.utils.toArray("a.category");
        categories.forEach(cat => {
            var label = document.getElementById("category_current");
            cat.addEventListener("click", () => {
                // Update button states
                categories.forEach(item => {
                    item.classList.remove("active");
                    item.classList.remove("btn-active");
                    if (item.innerHTML == cat.innerHTML) {
                        if (item.classList.contains("btn")) {
                            item.classList.add("btn-active");
                        } else {
                            item.classList.add("active");
                        }
                    }
                })
                // Update the project previews
                const outro = gsap.timeline({ onComplete: clearCards });
                const intro = gsap.timeline({ onStart: showSelected, onStartParams: [cat] });
                cards.forEach(card => {
                    // clear all visible projects
                    if (!card.classList.contains("hidden")) {
                        outro.add(gsap.to(card, { opacity: 0, y: y_delta, duration: dur * .75, ease: "sine.inOut" }), pos);
                    }
                    console.log(cat.id == "all");
                    if (card.classList.contains(cat.id)) {
                        // display projects belonging to the selected category
                        intro.add(gsap.to(card, { opacity: 1, y: y_delta, duration: dur * .75, ease: "sine.inOut" }), pos);
                    }
                })
                const transition = gsap.timeline({});
                // intro.pause();
                transition.add(outro);
                transition.add(intro);
                transition.play();
            });
        })

        function clearCards() {
            console.log("clearCards");
            cards.forEach((card, index) => {
                card.classList.add("hidden");
                card.classList.remove("current");
                card.classList.remove("even-column");
            })
        }

        function showSelected(cat) {
            let projects = gsap.utils.toArray("." + cat.id);
            console.log("showSelected");
            projects.forEach(project => {
                project.classList.remove("hidden");
                project.classList.add("current");
            });
            applyAlternatingStyles();
        };

        function applyAlternatingStyles() {
            const grid = document.getElementById('projects');
            const cols = window.getComputedStyle(grid).getPropertyValue('grid-template-columns').split(' ').length;
            const current = gsap.utils.toArray(".project.current");
            // console.log(current.length + " cards in " + cols + " columns");
            current.forEach((card, index) => {
                const colIndex = (index % cols) + 1; // Get the 1-based column index
                if ((cols > 1) && (colIndex % 2 !== 0)) {
                    card.classList.remove('even-column');
                } else {
                    card.classList.add('even-column');
                }
            });

        }
        window.addEventListener('resize', applyAlternatingStyles);
        let portrait = window.matchMedia("(orientation: portrait)");
        portrait.addEventListener("change", function (e) {
            applyAlternatingStyles();
        })
    });
</script>